@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<main>
    <div class="bg-white article col-lg-6 offset-lg-3 d-flex ">

        <div class="col-lg-8 offset-lg-2">

            <form method="post">
                <h1 class="justify-content-center projects mt-5 pt-5 mb-1 pb-1"><b>Enter your email</b></h1>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
