@{
    ViewData["Title"] = "Finch Robot Driver";
}




<main>
    <div class="bg-white article container col-lg-6 offset-lg-3 pl-0 pr-0">



        <div class="top_finch m-0 pl-0 pr-0">


            <div class="backProject  col-lg-10 offset-lg-1"><a class="backBG p-1 pr-2" href="/Projects"><img src="/Images/arrow.png" width="20" height="20" class="d-inline-block" alt=""><i class="">back to project selection</i></a></div>

            <h1 class="projects d-flex justify-content-center pb-0 mb-0 mt-3"><b class="shadow-sm  titleTop pl-2 pr-2">Finch Robot Driver</b></h1>
            <div class="under d-flex justify-content-center mt-0 "><strong class="title pl-2 pr-2 shadow-sm  ">Java || Mathematics</strong></div>

        </div>

        <div class="pt-5 col-lg-10 offset-lg-1">


            @{
                string timeSpan = "";
                int days = (int)ViewData["days"];
                if (days == 0) timeSpan = "today";
                if (days == 1) timeSpan = "yesterday";
                else if (days > 0 && days < 30) timeSpan = days.ToString() + " days ago";
                else if (days >= 30)
                {
                    int fullMonths = (days - (days % 30)) / 30;
                    if (fullMonths == 1) timeSpan = fullMonths.ToString() + " month ago";
                    else timeSpan = fullMonths.ToString() + " months ago";
                }
            }

            <div class=" d-flex justify-content-center p-1">
                <p class="bg-warning pt-1 pb-2 pl-3 pr-3">This article awaits completion</p>
            </div><br />




            <div class="d-flex justify-content-start">
                <img src="/Images/icons/dt.png" width="20" height="20" class="d-inline-block mr-1 " alt="">Repository: <a class="pl-1" target="_blank" href="https://github.com/JankowskiZachariasz/Finch-Driver"> Link</a>
            </div>

            <div class="d-flex justify-content-start">
                <img src="/Images/icons/calendar.png" width="20" height="20" class="d-inline-block mr-1 " alt="">Last update: <a class="pl-1" target="_blank" href="https://github.com/JankowskiZachariasz/Finch-Driver/commits/master"> @timeSpan</a>
            </div>

            <div class="d-flex justify-content-start">
                <img src="/Images/icons/ppl.png" width="20" height="20" class="d-inline-block mr-1 " alt="">Developer(s): [1] <a class="pl-1" target="_blank" href="https://github.com/JankowskiZachariasz"> Zachariasz Jankowski</a>
            </div>



            <hr>






            <div class="sect  p-1 pl-2 rounded d-flex d-inline-block" onclick="toggle('1')"><h4 class="mb-0">Introduction</h4> <h4 id="i1" class="mb-0 ml-auto mr-2">+</h4> </div>
            <div id="t1" class="par mb-2">
                <div class="p-2">
                    <p class="p-2">
                        I started this project by mistake. I got a university task, which was about making a 2-wheeled robot traverse a zigzag with perpendicular sections. The robot had a tiny slot for a pen or pencil at its back, which made me think that it must draw the shape instead of traversing it. This program allows specifying a list of points that the robot traverses in such a way that the pen attached to its back draws a line that connects these points. The result is a very complex movement of the robot (especially when it comes to drawing perpendicular lines).
                    </p>
                    <p class="p-2">
                        The way it works is that the program simulates the robot's position and is thus able to predict which move will keep it closer to the specified path. An example input would look like so:
                    </p>

<pre><code class="lang-java ml-3 mr-3">
    map=new Point[5];

    map[0]=new Point(0,-50);
    map[1]=new Point(50,-50);
    map[2]=new Point(-50,-50);
    map[3]=new Point(0,-50);
    map[4]=new Point(0,-100);

    executer(map);
</code></pre>
                    <p class="p-2">
                        And this is what the robot ends up drawing:
                    </p>

                    <a class="d-flex justify-content-center pb-5" target="_blank" href="~/Images/projects/cross.jpg"><img class="d-inline-block mr-1 dontexceed mb-5" src="~/Images/projects/cross.jpg" alt=""></a>

                </div>
            </div>





        </div>




    </div>

    <div class="d-flex justify-content-center bg-white  col-lg-6 offset-lg-3 ">
        <partial name="footer" />
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="~/js/folding.js"></script>
<script>
    $(document).ready(toggle('1'));
</script>

