@{
    ViewData["Title"] = "Home Page";
}




<main>
    <div class="bg-white article col-lg-6 offset-lg-3">

        <h1 class="projects d-flex justify-content-center mt-5 pt-5 mb-1 pb-1"><b>My Projects</b></h1>




        <div class="row  mt-5 pl-1 pr-1">

            <div data-num="1" onclick="location.href='/projects/Website';" class="k1 rs6 p-3 col-lg-6 col-xl-4 kafelek" id="ref6">
                <div class="d-flex align-items-start flex-column mb-3" id="p1" style="height: 100%;">
                    <div class="mt-auto"> <h4 class="bg-white p-1 pl-2 pr-2">This Website</h4> </div>
                    <div> <i class="scope p-1 pl-2 pr-2">ASP.NET  ||  Bootstrap  ||  Javascript </i> </div>
                </div>
            </div>

            <div data-num="2" onclick="location.href='/projects/android';" class="k2 rs6 p-3 col-lg-6 col-xl-4 kafelek" >
                <div class="d-flex align-items-start flex-column mb-3" id="p2" style="height: 100%;">
                    <div class="mt-auto"> <h4 class="bg-white p-1 pl-2 pr-2">Receipt Manager</h4> </div>
                    <div> <i class="scope p-1 pl-2 pr-2">Android  ||  Google API </i> </div>
                </div>
            </div>


            <div data-num="3" onclick="location.href='/projects/finch';" class="k3 rs6 p-3 col-lg-6 col-xl-4 kafelek">
                <div class="d-flex align-items-start flex-column mb-3" id="p3" style="height: 100%;">
                    <div class="mt-auto"> <h4 class="bg-white p-1 pl-2 pr-2">"Finch" Robot Driver</h4> </div>
                    <div> <i class="scope p-1 pl-2 pr-2">Java </i> </div>
                </div>
            </div>

            <div data-num="4" onclick="location.href='/projects/game';" class="k4 rs6 p-3 col-lg-6 col-xl-4 kafelek">
                <div class="d-flex align-items-start flex-column mb-3" id="p4" style="height: 100%;">
                    <div class="mt-auto"> <h4 class="bg-white p-1 pl-2 pr-2">2d Platformer</h4> </div>
                    <div> <i class="scope p-1 pl-2 pr-2">Java  ||  Libgdx </i> </div>
                </div>
            </div>

            <div data-num="5" onclick="location.href='/projects/gui';" class="k5 rs6 p-3 col-lg-6 col-xl-4 kafelek">
                <div class="d-flex align-items-start flex-column mb-3" id="p5" style="height: 100%;">
                    <div class="mt-auto"> <h4 class="bg-white p-1 pl-2 pr-2">GUI Windows App</h4> </div>
                    <div> <i class="scope p-1 pl-2 pr-2">Java</i> </div>
                </div>
            </div>






            









        </div>
        <div class="pl-2">
            <h3 class="mt-5 pt-5">Acknowledgements</h3>
            <ul>
                <li>"www-icon" <a href="http://www.freepik.com"> Designed by Freepik</a></li>
                <li>"isometric-shop-receipt-paper-payment-bill" <a href="http://www.freepik.com"> Designed by upklyak / Freepik</a></li>
            </ul>
        </div>


    </div>

</main>
<div class="d-flex justify-content-center bg-white  col-lg-6 offset-lg-3 ">
    <partial name="footer" />
</div>
<script src="~/js/projects.js"></script>

