@{
    ViewData["Title"] = "Home Page";
}




    <main>
        <div class="bg-white article container col-lg-6 offset-lg-3 pl-0 pr-0">



            <div class="top_web m-0 pl-0 pr-0">


                <div class="backProject  col-lg-10 offset-lg-1"><a class="backBG p-1 pr-2" href="/Projects"><img src="/Images/arrow.png" width="20" height="20" class="d-inline-block" alt=""><i class="">back to project selection</i></a></div>

                <h1 class="projects d-flex justify-content-center pb-0 mb-0 mt-3"><b class="shadow-sm  titleTop pl-2 pr-2">This Website</b></h1>
                <div class="under d-flex justify-content-center mt-0 "><strong class="title pl-2 pr-2 shadow-sm  ">ASP.NET  ||  Bootstrap  ||  Javascript</strong></div>

            </div>

            <div class="pt-5 col-lg-10 offset-lg-1">


                @{
                    string timeSpan="";
                    int days = (int)ViewData["days"];
                    if(days==0)timeSpan="today";
                    else if(days>0&&days<30)timeSpan=days.ToString()+" days ago";
                    else if(days>=30){
                        int fullMonths=days%30;
                        if(fullMonths==1) timeSpan=fullMonths.ToString()+" month ago";
                        else timeSpan=fullMonths.ToString()+" months ago";
                    }
                }




                <div class="d-flex justify-content-start">
                    <img src="/Images/icons/dt.png" width="20" height="20" class="d-inline-block mr-1 " alt=""><i><b>Repository: </b><a target="_blank" href="https://github.com/JankowskiZachariasz/Zachariasz-Jankowski"> Link</a></i>
                </div>

                <div class="d-flex justify-content-start">
                    <img src="/Images/icons/calendar.png" width="20" height="20" class="d-inline-block mr-1 " alt=""><i><b>Last update: </b><a target="_blank" href="https://github.com/JankowskiZachariasz/Zachariasz-Jankowski/commits/master"> @timeSpan</a></i>
                </div>

                <div class="d-flex justify-content-start">
                    <img src="/Images/icons/ppl.png" width="20" height="20" class="d-inline-block mr-1 " alt=""><i><b>Developer(s):</b> [1] <a target="_blank" href="https://github.com/JankowskiZachariasz">Zachariasz Jankowski</a></i>
                </div>



                <hr>






                <div class="sect  p-1 pl-2 rounded d-flex d-inline-block" onclick="toggle('1')"><h4 class="mb-0">Introduction</h4> <h4 id="i1" class="mb-0 ml-auto mr-2">+</h4> </div>
                <div id="t1" class="par mb-2">
                    <p class=" p-2 ">I was inspired to build this website after I realised that there's no better way to showcase my coding skills than by creating my online presence. I used ASP.NET and C# for the back-end and Bootstrap with some standard javascript libraries for the front-end. The most challenging part was to create the feed section. It combines all the contents that I post on various social media in one place.</p>
                </div>


                <div class="sect  p-1 pl-2 rounded d-flex d-inline-block" onclick="toggle('2')"><h4 class="mb-0">Project Structure</h4> <h4 id="i2" class="mb-0 ml-auto mr-2">+</h4> </div>
                <div id="t2" class="par mb-2">
                    <p class=" p-2 ">I was inspired to build this website after I realised that there's no better way to showcase my coding skills than by creating my online presence. I used ASP.NET and C# for the back-end and Bootstrap with some standard javascript libraries for the front-end. The most challenging part was to create the feed section. It combines all the contents that I post on various social media in one place.</p>
                </div>

                <div class="sect  p-1 pl-2 rounded d-flex d-inline-block" onclick="toggle('3')"><h4 class="mb-0">Scripts</h4> <h4 id="i3" class="mb-0 ml-auto mr-2">+</h4> </div>
                <div id="t3" class="par mb-2">
                    <p class=" p-2 ">I was inspired to build this website after I realised that there's no better way to showcase my coding skills than by creating my online presence. I used ASP.NET and C# for the back-end and Bootstrap with some standard javascript libraries for the front-end. The most challenging part was to create the feed section. It combines all the contents that I post on various social media in one place.</p>
                </div>

                <div class="sect  p-1 pl-2 rounded d-flex d-inline-block" onclick="toggle('4')"><h4 class="mb-0">Database</h4> <h4 id="i4" class="mb-0 ml-auto mr-2">+</h4> </div>
                <div id="t4" class="par mb-2">
                    <p class=" p-2 ">I was inspired to build this website after I realised that there's no better way to showcase my coding skills than by creating my online presence. I used ASP.NET and C# for the back-end and Bootstrap with some standard javascript libraries for the front-end. The most challenging part was to create the feed section. It combines all the contents that I post on various social media in one place.</p>









                </div>









                <!-- <button type="button" class="d-flex justify-content-start btn-block collapsible">Introduction</button>
            <p class="pt-1 par" >I was inspired to build this website after I realised that there's no better way to showcase my coding skills than by creating my online presence. I used ASP.NET and C# for the back-end and Bootstrap with some standard javascript libraries for the front-end. The most challenging part was to create the feed section. It combines all the contents that I post on various social media in one place.</p> -->



            </div>
        </div>
        <div class="d-flex justify-content-center bg-white  col-lg-6 offset-lg-3 ">
            <partial name="footer" />
            </div>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="~/js/folding.js"></script>

