@{
    ViewData["Title"] = "Home Page";
}





    <main>




        <div class=" article container col-lg-6 offset-lg-3 shadow-sm bg-white">

            <div class="col-lg-10 offset-lg-1">




                <div class=" d-flex justify-content-center  mt-5 pt-5"><img src="/Images/profilowka.png" class="rounded-circle align-top " alt="Avatar" width="150" height="150"></div>


                <div class=" p-1 m-1 d-flex justify-content-center"><strong>Java || ASP.NET || Javascript</strong></div>

                <div class=" email pb-4 d-flex justify-content-center">

                    <input class="p-1 pl-2 d-flex justify-content-center" readonly="readonly" type="text" value="jankowski.zachariasz@gmail.com" id="em">

                    <button onclick="myFunction()" class="btn btn-link  ml-1 p-0 "><img src="/Images/copy.png" width="17"></button>
                </div>


                <p class="p-1">Hello!</p>

                <p class="p-1">My name is Zachariasz Jankowski, and I study Computer Science at <i>Brunel University London</i>. My home country is Poland, where I became a Technician of Mechatronics. </p>

                <p class="p-1">I am keen on technology and regularly add new skills to my tech stack. As a 15-year-old, I started coding Arduino programs in C. Then, I discovered Android Studio and the world of indie games. Recently I've been primarily focused on web development - I familiarised myself with <i>ASP.NET, C#, CSS, Html</i>, and <i>javascrip</i>. This is how I created this website! </p>

                <p class="p-1">Whatever brings you here, you might want to see my code - in which case be advised to visit the Projects section. Also, don't hesitate to contact me for any business-related queries or offers. </p>

                <p class="p-1">Have a nice day!</p>






            </div>




        </div>
        <div class="d-flex justify-content-center bg-white  col-lg-6 offset-lg-3 ">
            <partial name="footer" />
        </div>

    </main>
    <script src="~/js/copy.js"></script>